<div class="card" [ngClass]="{'highlight':selected}">
    <div class="card-header">
        <input class="form-control" placeholder="New Timer">
    </div>

    <div class="card-body">

        <div class="row"> 
            <h1> {{currentTime.hours}}h {{currentTime.minutes}}m {{currentTime.seconds}}s</h1>
        </div>
        
        <div class="col">
            <button *ngIf="!locked && started && !currentTime.isZero()" style="margin-right: 1em"
            class="btn btn-dark btn-lg" (click)="toggleTimer()">
                <div *ngIf="paused">
                    Resume
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand"></i>
                </div>
                <div *ngIf="!paused">
                    Pause
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand-fist"></i>
                </div>
            </button>
    
            <button *ngIf="!locked" style="margin-right: 1em"
            class="btn btn-dark btn-lg" (click)="startOrReset()">
                <div *ngIf="started">
                    Reset
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand-fist"></i>
                    <i *ngIf="selected"class="fa-solid fa-hand-fist"></i>
                </div>
                <div *ngIf="!started">
                    Start
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand"></i>
                </div>
            </button>
    
            <button *ngIf="!locked && !started" style="margin-right: 1em"
            class="btn btn-dark btn-lg" (click)="setTimeLeft()">
                {{getTimeLeft()}} 
                <br>
                <i *ngIf="selected" class="fa-solid fa-hand"></i>
                <i *ngIf="selected" class="fa-solid fa-hand-point-up"></i>
            </button>
    
            <button *ngIf="!locked && !started" style="margin-right: 1em"
            class="btn btn-dark btn-lg" (click)="setTimeRight()">
                {{getTimeRight()}} 
                <br>
                <i *ngIf="selected" class="fa-solid fa-hand-fist"></i>
                <i *ngIf="selected" class="fa-solid fa-hand-point-up"></i>
            </button>
    
            <button class="btn btn-dark btn-lg" (click)="lockUnlock()" style="margin-right: 1em">
                <div *ngIf="!locked">
                    Lock 
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand"></i>
                    <i *ngIf="selected" class="fa-solid fa-hand"></i>
                </div>
                <div *ngIf="locked">
                    Unlock 
                    <br>
                    <i *ngIf="selected" class="fa-solid fa-hand-point-up"></i>
                    <i *ngIf="selected" class="fa-solid fa-hand-point-up"></i>
                </div>
            </button>
        </div>
    
    </div>
</div>