<div class="card w-75" style="margin: 1em;" [ngClass]="{'border-dark':selected}">
    <div class="card-header">
        <input class="form-control" placeholder="New Timer">
    </div>
    <div class="card-body">
        <h1> {{currentTime.hours}}h {{currentTime.minutes}}m {{currentTime.seconds}}s</h1>

        <button *ngIf="!locked && started && !currentTime.isZero()" class="btn btn-dark btn-lg" (click)="toggleTimer()">
            <div *ngIf="paused">
                Resume 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand"></i>
                </div>
            </div>
            <div *ngIf="!paused">
                Pause 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand-fist"></i>
                </div>
            </div>
        </button>

        <button *ngIf="!locked" class="btn btn-dark btn-lg" (click)="startOrReset()">
            <div *ngIf="started">
                Reset 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand-fist"></i> <i class="fa-solid fa-hand-fist"></i>
                </div>
            </div>
            <div *ngIf="!started">
                Start 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand"></i>
                </div>
            </div>
            
        </button>

        <button *ngIf="!locked && !started" class="btn btn-dark btn-lg" (click)="setTimeLeft()">
            <div>
                Set Time: {{getTimeLeft()}} 
            </div>
            <div *ngIf="selected">
                <i class="fa-solid fa-hand"></i><i class="fa-solid fa-hand-point-up"></i>
            </div>
        </button>

        <button *ngIf="!locked && !started" class="btn btn-dark btn-lg" (click)="setTimeRight()">
            <div>
                Set Time: {{getTimeRight()}} 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand-fist"></i><i class="fa-solid fa-hand-point-up"></i>
                </div>
            </div>
        </button>

        <!-- <button *ngIf="!locked && started && !currentTime.isZero()" class="btn btn-dark btn-lg" (click)="sub30Sec()">-30</button>
        <button *ngIf="!locked && started" class="btn btn-dark btn-lg" (click)="add30Sec()">+30</button> -->

        <button class="btn btn-dark btn-lg" (click)="lockUnlock()">
            <div *ngIf="!locked">
                Lock 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand"></i> <i class="fa-solid fa-hand"></i>
                </div>
            </div>
            <div *ngIf="locked">
                Unlock 
                <div *ngIf="selected">
                    <i class="fa-solid fa-hand-point-up"></i> <i class="fa-solid fa-hand-point-up"></i>
                </div>
            </div>
        </button>
    </div>
</div>