<div class="card w-75" style=" margin: 1em;">
    <div class="card-header">
        <input class="form-control" placeholder="New Timer">
    </div>
    <div class="card-body">
        <h1> {{currentTime.hours}}h {{currentTime.minutes}}m {{currentTime.seconds}}s</h1>

        <button *ngIf="!locked && started && !currentTime.isZero()" class="btn btn-dark btn-lg" (click)="toggleTimer()">{{paused?"Resume":"Pause"}}</button>

        <button *ngIf="!locked" class="btn btn-dark btn-lg" (click)="startOrReset()">{{started?"Reset":"Start"}}</button>

        <button *ngIf="!locked && !started" class="btn btn-dark btn-lg" (click)="setTimeLeft()">Set Time: {{getTimeLeft()}}</button>
        <button *ngIf="!locked && !started" class="btn btn-dark btn-lg" (click)="setTimeRight()">Set Time: {{getTimeRight()}}</button>

        <button *ngIf="!locked && started && !currentTime.isZero()" class="btn btn-dark btn-lg" (click)="sub30Sec()">-30</button>
        <button *ngIf="!locked && started" class="btn btn-dark btn-lg" (click)="add30Sec()">+30</button>

        <button class="btn btn-dark btn-lg" (click)="lockUnlock()">{{locked?"Unlock":"Lock"}}</button>
    </div>
</div>