<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

<!-- <div [innerHTML]="gesture"></div> -->

<div class="container justify-content-center">
    <div *ngFor="let timer of timers; index as i" class="row justify-content-center my-5">
        <app-timer [selected]="i==selected" ></app-timer>
    </div>

    <div class="row my-4">
        <div class="col mx-7">
            <button *ngIf="timers.length < 3" class="btn btn-dark btn-block" (click)="newTimer()">+</button>
            <button *ngIf="timers.length == 3" class="btn btn-secondary btn-block">+</button>
        </div>

        <div class="col mx-7">
            <button *ngIf="timers.length > 1" class="btn btn-dark btn-block" (click)="removeTimer()">-</button>
            <button *ngIf="timers.length == 1" class="btn btn-secondary btn-block">-</button>
        </div>
    </div>

    <div class="row">
        <div class="col mx-7">
            <button class="btn btn-dark btn-block" (click)="selectNext()">Next Timer
                <div><i class="fa-solid fa-hand-point-up"></i></div>
            </button>
        </div>
    </div>

</div>
