<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

<div [innerHTML]="gesture"></div>
<div class="container-fluid ">
    <div *ngFor="let timer of timers; index as i" class="row justify-content-center mx-auto">
        <div class="col" [ngStyle]="{'margin-left': i==selected ? '2em' : '1em'}">
            <app-timer [selected]="i==selected" ></app-timer>
        </div>
    </div>
    <div class="row ">
        <div class="col mx-auto">
            <button *ngIf="timers.length < 3" class="btn btn-dark btn-block" (click)="newTimer()">+</button>
        </div>

        <div class="col mx-auto">
            <button *ngIf="timers.length > 1" class="btn btn-dark btn-block" (click)="removeTimer()">-</button>
        </div>

    </div>
    <button class="btn btn-dark btn-block" (click)="selectNext()">select next
        <div><i class="fa-solid fa-hand-point-up"></i></div>
    </button>
    
</div>

